:host
    width: 100%
    display: flex
    flex-direction: column

.flex
    justify-content: space-evenly !important
    padding: 15px 0px
    background: var(--primary-background)
    z-index: 44    
    position: fixed
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px)
    .nav-menu-full
        display: none
    .flex
        justify-content: flex-end !important
    .nav-menu-small
        margin-right: 30px          
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px)
    .nav-menu-small
        display: none !important
    app-navigation-mobile
        display: none !important   
app-navigation-mobile
    background: var(--primary-background)