<div class="flex" [style.height]="height + 'px'"> 
    <div *ngFor="let section of sections"  class="main-section flex">
        <div class="separator"></div>
        <div class="sections flex" [style.background-image]="'url(' + section.background + ')'"><p>{{section.title}}</p></div> 
    </div>
    <!--<div class="separator"></div>
    <div *ngFor="let section of sections" class="sections flex" [style.background-image]="'url(' + section.background + ')'">{{section.title}}</div> -->
    
</div>