<div class="flex">
    <div class="separator"></div>
    <div class="icon-text">
        <div class="flex-inner">
            <div class="icon">
                <img src="assets/Instagram.png" alt="">
            </div>
            <div class="icon">
                <img src="assets/Bandcamp.png" alt="">
            </div>
            <div class="icon">
                <img src="assets/Deezer.png" alt="">
            </div>
            <div class="icon">
                <img src="assets/Facebook.png" alt="">
            </div>
            <div class="icon">
                <img src="assets/Mixcloud.png" alt="">
            </div>
            <div class="icon">
                <img src="assets/SoundCloud.png" alt="">
            </div>
            <div class="icon">
                <img src="assets/Spotify.png" alt="">
            </div>
            <div class="icon">
                <img src="assets/Twitter.png" alt="">
            </div>
            <div class="icon">
                <img src="assets/YouTube.png" alt="">
            </div>
        </div>
       <p style="margin-top: 30px;">contact: info@eggraymusic.com</p>
    </div>
    <div class="spacer"></div>
</div>
